body{background-color:#fff}#auth{height:100vh;overflow-x:hidden}#auth #auth-right{height:100%;background:url(../../images/bg/4853433.jpg),linear-gradient(90deg,#2d499d,#3f5491)}#auth #auth-left{padding:5rem 8rem}#auth #auth-left .auth-title{font-size:4rem;margin-bottom:1rem}#auth #auth-left .auth-subtitle{font-size:1.7rem;line-height:2.5rem;color:#a8aebb}#auth #auth-left .auth-logo{margin-bottom:7rem}#auth #auth-left .auth-logo img{height:2rem}@media screen and (max-width:767px){#auth #auth-left{padding:5rem}}
.dataTables_filter{
    width: 50%;
    float: right;
}
.form-control-sm{
    width: 100%;
}
.dataTables_length label {
    display: flex;
    gap: 10px;
    width: 100%;
    
}
.dataTables_length label select {
    width: 40px;
}
.sidebar-wrapper .sidebar-header {
    padding: 0.7rem 2rem 1rem;}

.pagination
{
    float: right;
}
.dataTables_filter label{
    float: right;
}
#auth #auth-left {
    padding: 0rem 8rem;
}


.text-nowrap{
    margin-right: 250px;
}
#img{
    margin-top:20px;
}


HTML CSSResult Skip Results Iframe
EDIT ON
.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select Picture';
  color: white;
  display: inline-block;
  background: #435ebe;
  border: 1px solid #435ebe;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;

  font-weight: 400;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}